.bd-sidebar-primary { display: none !important;}
.bd-header-article { display: none !important;}
.bd-container .bd-container__inner { display: block !important;}
footer { display: none !important;}
jb-print-docs-body { display: none !important;}